@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  	-moz-appearance: textfield;
  	appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  	-webkit-appearance: none;
  	margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  	-webkit-appearance: none;
  	margin: 0;
}

/* For Firefox */
@supports (-moz-appearance:none) {
	input[type='number'] {
	  -moz-appearance: textfield;
	  appearance: textfield;
	  background-color: #333333; /* Dark background color */
	  color: #ffffff; /* Light text color */
	  /* Add other styling as needed */
	}
  }
  
  /* For WebKit (Chrome, Safari) */
  @supports (-webkit-appearance:none) {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	  /* Adjust colors and styles as necessary for dark mode */
	  /* Example: */
	  background-color: #333333; /* Dark background color */
	  color: #ffffff; /* Light text color */
	}
}
