/* Player page */
.player-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    max-height: 100%;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 60vw;
    border: 2px solid rgb(248, 229, 166);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, border-color 0.3s ease, background 0.3s ease; /* Include border-color transition */
    margin-top: 2%;
    background: linear-gradient(to bottom right, rgba(255, 209, 57, 0.5), rgba(255, 209, 57, 0.3), rgba(248, 229, 166, 0.2));
}

.player-info {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    height: 25vw;
    text-align: center;
}

.player-image-personal {
    max-height: 20vw;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.player-name {
    font-size: 2.5vw;
    font-weight: bolder;
    font-stretch: extra-condensed;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
}

.player-stats {
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 5vw;
    height: 25vw;
    width: 30vw;
    text-align: center;
}

.stat {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin: 0.5vw;
    background-color: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    opacity: 50%;
    border-radius: 2%;
}

.stat-label {
    color: white;
    font-weight: normal;
    opacity: 100%;
}

.stat-value {
    color: white;
    font-weight: bolder;
    opacity: 100%;
}


.home-button,
.players-button {
    display: inline-block;
    padding: 3% 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000;
    background-color: #b0abab;
    border-radius: 5%;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.home-button:hover,
.players-button:hover {
    background-color: #555;
}

/* Hover effects for the card */
.card:hover {
    border-color: rgb(255, 209, 57);
    background: linear-gradient(to top left, rgba(255, 209, 57, 0.5), rgba(255, 209, 57, 0.3), rgba(248, 229, 166, 0.2));
    transform: scale(1.01); /* Slight tilt effect */
}

/* Global Sports page */
.sports-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
}
  
.player-card {
    position: relative;
    width: 23vh;
    height: 20vh;
    margin: 1vh;
    border: 2px solid rgb(248, 229, 166);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(to bottom right, rgba(255, 209, 57, 0.5), rgba(255, 209, 57, 0.3), rgba(248, 229, 166, 0.2));
    transition: transform 0.3s ease-in-out;
}

.player-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}

.player-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.2em;
    text-transform: capitalize;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.player-card:hover {
    border: 3px solid rgb(255, 209, 57);
    transform: scale(1.02) rotate(-1deg);
}

.player-card:hover .player-image {
    opacity: 0.25;
}
  
.player-card:hover .player-overlay {
    opacity: 0.75;
}
  